Congratulations on investing in your feminine spirit.  Please check your inbox for the details.

<p>
  <%= @goddess.first_name %>
  <%= @goddess.last_name %>
</p>
<%= image_tag asset_path('RGG_short_sell.png') %>
