// Place all the styles related to the goddesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#goddess_title {
  text-align: center;
}

#left_goddess_flyer {
  width: 45%;
}

#right_goddess_flyer {
  width: 39%;
}

#manifestation {
  display: inline-block;
  height: 300px;
  font-size: 1.5em;
}

#goddess_personal_statement {
  width: 181px;
  height: 65px;
}