// Place all the styles related to the goddesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#manifestation {
  display: inline-block;
  height: 300px;
  font-size: 1.5em;
}

#goddess_personal_statement {
  width: 181px;
  height: 65px;
}

#goddess_registration_pane {
  display: none;
}

#offer_flyer img {
  width: 100%;
  min-height: 2000px;
}

label.error {
  color: red;
}

#payment_errors {
  color: red;
}
