<p>Hello, <%= @email %></p>

<p>You can confirm your Receive Everything account through this link.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>Receive Everything is the home of the iseries meditations on receptivity.  The first meditation, ireceive, is available to you now as a gift.</p>

<p><%= link_to 'receiveEverything.com', root_url %> is also where you will find information about joining the Receptivity Goddess Group that meets monthly.</p>

<p>Welcome to my site.</p>

<p>-Emily Tepper</p>
